.faq {
  background-color: #f9f9f9;
}

.containerSection {
  padding-top: 170px;
  padding-bottom: 164px;
  margin: 0 auto;
  max-width: 1152px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.linesFaq {
  position: absolute;
  top: 148px;
  right: 311px;
}

.title {
  padding-bottom: 115px;
  padding-right: 9px;
  width: 408px;
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  font-weight: 600;
  line-height: 54px;
  text-align: center;
}

.titleSpan {
  color: #6c5fbc;
}

.faqCardsList {
  padding-left: 23px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

@media screen and (max-width: 1300px) {
  .containerSection {
    padding-right: 20px;
  }
  .title {
    font-size: 24px;
    padding-bottom: 30px;
    max-width: 350px;
  }
  .linesFaq {
    width: 27px;
    height: 23px;
  }
}

@media screen and (max-width: 700px) {
  .containerSection {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 20px;
  }
  .title {
    padding: 0;
    text-align: center;
    font-size: 19px;
    width: 100%;
  }
  .linesFaq {
    top: 55px;
    right: 81px;
  }
}
