.foodCard {
  width: 400px;
  /* height: 300px; */
  box-shadow: 6px 71px 36px 0 rgba(229, 229, 229, 0.7);
  border: 1.25px solid #f4f4f6;
  border-radius: 30px;
  transition: transform 0.5s ease;
}

.foodCard:hover {
  transform: translateY(-20px);
}

.foodCard:hover .favoriteBtn {
  opacity: 1;
}

.img {
  height: 176px;
  object-fit: cover;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.containerContent {
  padding: 2px 25px 18px 25px;
}

.typeFood {
  padding: 3px 6px 3px 7px;
  width: fit-content;
  font-weight: 400;
  font-size: 12px;
  color: #daa31a;
  font-family: 'Poppins', sans-serif;
  background-color: #f7edd0;
  border-radius: 5px;
}

.title {
  width: 70%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 41.9px;
  color: #323142;
}

.favoriteBtn {
  width: 40px;
  height: 40px;
  background: url('../../../shared/assets/svg/favoriteIcon.svg') no-repeat;
  background-size: 40px 40px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.containerFlexTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerTagsFlex {
  display: flex;
  gap: 10px;
}

.containerRatingFlex {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.time {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25.79px;
  color: #8e97a6;
}

.time::after {
  content: '\2022';
  margin-left: 7px;
}

.rating {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25.79px;
  color: #8e97a6;
}

@media screen and (max-width: 1300px) {
  .foodCard {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .foodCard {
    height: 0;
    min-height: 290px;
  }
  .title {
    font-size: 16px;
  }
  .time {
    font-size: 14px;
  }
  .rating {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .foodCard {
    min-height: 270px;
  }
}
