.articles {
  background-color: #f9f9f9;
}

.containerSection {
  padding-top: 94px;
  padding-bottom: 60px;
  margin: 0 auto;
  max-width: 1205px;
}

.title {
  padding-bottom: 74px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 54px;
  line-height: 120%;
  text-align: center;
  color: #323142;
}

.titleSpan {
  color: #6c5fbc;
}

.articlesList {
  padding: 0 20px;
  list-style: none;
  display: grid;
  justify-content: center;
  gap: 25px 25px;
  grid-template-columns: repeat(3, minmax(0, 349px));
}

.containerPagination {
  padding-top: 80px;
  margin: 0 auto;
  max-width: 170px;
  display: flex;
  gap: 80px;
}

.paginationBtn {
  width: 46px;
  height: 30px;
  border: none;
  background: url('../../../shared/assets/svg/nextPageBtn.svg') no-repeat;
  cursor: pointer;
}

.paginationBtn:disabled {
  cursor: default;
  opacity: 0.3;
}

.paginationBtn:hover:enabled {
  opacity: 0.7;
}

.prevPageBtn {
  rotate: 180deg;
}

@media screen and (max-width: 1170px) {
  .articlesList {
    grid-template-columns: repeat(2, minmax(0, 349px));
  }
}

@media screen and (max-width: 800px) {
  .articlesList {
    grid-template-columns: repeat(1, minmax(0, 349px));
  }
  .title {
    padding-bottom: 45px;
    font-size: 30px;
  }
}
